.box {
    background-color:rgb(230, 230, 230) ;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 220px;
    height: 380px;
    border-radius: 5px;
    margin-bottom: 30px;
}

.box:hover {
    border: 2px solid black;
    scale: 1.05;
    cursor: pointer;

}

.box img {
    width: 220px;
    border-radius: 5px 5px 1px 1px;
}

.box h2 {
    font-family: 'Roboto', sans-serif;
    align-items: center;
    padding-top: 15px;
    font-size: 20px;
}

.box p {
    margin-top: 13px;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
}

.box span {
    margin-top: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 23px;
}

.box button {
    font-size: 17px;
    background-color: rgb(0, 0, 0);
    color: aliceblue;
    border-radius: 5px;
    width: 200px;
    height: 30px;
    margin-top: 25px;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
}

.box button:hover {
    background-color: rgb(255, 255, 255);
    border: none;
    color: rgb(0, 0, 0);
}


.h2 {
    color: rgb(0, 0, 0);
    padding: 50px 0px 20px 0px;
    margin-left: 20px;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
}



.container1 {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.container2 {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    margin-right: 310px;

}

.ajuste {
    display: flex;
    flex-direction: row-reverse;


}

.ajuste1 {
    display: flex;
    flex-direction: row-reverse;
}

main {
    background-color: #ffffff;
    width: 100%;
    height: 100%;
}