#container {
    height: 300px;
}

#container img {
    width: 100%;
    height: 300px;
}


body {
    background-color: rgb(226, 226, 226);
}


/* aside */
.car {
    background-color: #993430;
    width: 30%;
    height: 100vh;
}